# Don't include the build folder
build

# Don't include personal .vscode settings
.vscode

# Don't include google test stuff
googletest*
**.tar.gz
.cache

# Don't include python stuff
**__pycache__
**.pytest_cache